.gradle/
.idea/
*.iml
*.ipr
*.iws

build/
run/
out/
logs/
log/
*.log
*.bak
*.tmp
*.orig
*.rej
build_log.txt
mappings.tiny

.vscode/
.classpath
.project
.settings/

.DS_Store
Thumbs.db
Desktop.ini

hs_err_pid*
replay_pid*
*.hprof
*.jfr

src_backup/
skid/
